{% extends 'feed/main.html' %}
{% load static %}



{% block content %}

{% for post in posts %}
<div class="main panel panel-default z-depth-4">
    <div class="panel-body">

        <div class="media">
            <div class="media-left rounded-xl">
              
                <img src="https://mms.businesswire.com/media/20190122005910/en/701785/5/Camila-x-MC.jpg"
                    class="media-object circle">
                   
            </div>
            <div class="media-body">
                <div class="media-settings">
                    <p>{{ post.title }}</p> 
                     <!-- <p>Dennis Ivy</p> -->
                <span><i class="fa fa-ellipsis-h right "></i></span>
                </div>
                
            </div>
            
        </div>
        

        <div class="post">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Disaster Image" class="not">
            {% endif %}
            <!-- <img src="https://mms.businesswire.com/media/20190122005910/en/701785/5/Camila-x-MC.jpg"
                    class="not"  alt="Sample Image"> -->
            <!-- <p class="iconsec"><i class="fa fa-heart-o"></i>   <i class="fa fa-share"></i> -->
                 <span class="right" style="color: black;"><b> Description</b></span>
                <!-- </p> -->
           
        </div>
        <div style="color: black ;">
            <p>{{ post.content }}</p>
            <!-- <p>Dennis IVy</p> -->
        </div>
        {% if request.user == post.user %}
        <center><a href="{% url 'delete_post' post.id %}" class="btn" id="open"><i class="fa "></i>DELETE</a></center>
        <div id="open-update" style="width: 100%; background-color: gray; border-radius: 3px; margin-top: 3px; padding: 5px;">
            <center ><a href="{% url 'update_post' post.id %}"><i class="fa"></i>UPDATE</a></center>
        </div>
        {% endif %}
       
  


</div>
</div>

{% endfor %}

{% endblock %}
